body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.input-field {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.login-button,
.delete-button,
.logout-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.login-button {
  background: #007bff;
}

.delete-button {
  background: #dc3545;
}

.logout-button {
  background: #6c757d;
}

.error-message {
  color: red;
  font-size: 14px;
}

/* **使用者表格** */
.user-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #007bff;
  color: white;
}
